/* NAVBAR ELEMENTS */

/* NavBar */
.custom-navbar {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    margin: 0 auto; /* Horizontally center the element */
    width: 90%; /* Adjust the width as needed */
    z-index: 999;
  }
  
  /* Ensure the navbar links are visible by setting their color */
  .custom-navbar .navbar-nav .nav-link {
    color: #000;
  }
  
  /* If you need to change the color of the active link */
  .custom-navbar .navbar-nav .nav-link.active {
    color: #fff; /* Change the color to your preferred one */
  }
  
  /* Adjust the hero banner position */
  .jumbotron {
    background-image: url("../images/go.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
    padding: 0;
    margin-bottom: 0;
    position: relative;
    min-height: 100vh; /* Ensure the banner covers at least the viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  .form-control-lg {
    /* Add padding to the right of the form to make space for the dropdown icon */
    padding-right: .5rem;
    
    /* Set a minimum width for the form to prevent it from shrinking too much */
    min-width: 10rem;
  }  
  
  /* Give some spacing to the content below the hero banner */
  .content-below-jumbotron {
    margin-top: 150px; /* Adjust this value to control the spacing between the banner and content below */
    background-color: #fff; /* Change this color to match your desired background */
  }
  
  /* Make sure the background color of the sections below the navbar is not transparent */
  .section {
    background-color: #fff; /* Change this color to match your desired background */
  }
  

.hbackground {
    background-image: url("../images/hotel.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
    backdrop-filter: blur(2px);
}

.fbackground {
    background-image: url("../images/flight.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
    backdrop-filter: blur(2px);
}

.cbackground {
    background-image: url("../images/car.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
    backdrop-filter: blur(2px);
}

.background2 {
    padding: 0;
    margin-bottom: 0;
    position: relative;
    min-height: 100vh; /* Ensure the banner covers at least the viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  .video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  

.backgroundblack {
    background-color: black;
    
}

.checkin {
    width: 46%;
    padding: 0;
    border: 0;
    margin: 0;
}

.right {
    float: right;
    margin-right: 150px;
}

.left {
    margin-left: 150px;
}

.boxwidth {
    max-width: 75%;
}

.flightleft {
    margin-left: 10px;
}

.center {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.flightsbar {
    max-width: 82%;
    padding: 4px;
}


.hotelbuttonleft {
    margin-left: -830px;
}

a {
    color: black;
}

.titlefont {
    font-family: 'Tilt Warp', cursive;
}

.navsubfont {
    font-family: 'PT Serif', serif;
}

div {
    font-family: 'Roboto', sans-serif;
}

#upload-progress {
    width: 100%;
    height: 20px;
    margin-top: 10px;
  }
  

#account-btn:hover {
    background-color: white;
    color: black;
  }



/* MOBILE CSS */

@media (max-width:1024px) {

    nav.navbar {
        width: 83%;
        display: flex;
        margin: 0 auto;
        text-align: center;
        justify-content: center;
        
    }


    .navbar-nav.custom-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px; 
      }


}



/*             */
  